<nav>
    <ul>
<<<<<<< HEAD
    　　<li><%= link_to "検索", "/searches/new" %></li>
        <li><a><%= link_to "login", "/users/login/" %></a></li>
=======
        <li><a>検索</a></li>
        <%= link_to "login", login_path %>
        <%= link_to "logout", logout_path, method: :delete %>
>>>>>>> 9f7bef5dc05155bcd5b79ad5f45f19622c541131
        <li><a>企業用ページ</a></li>
        <li><b><%= link_to "ランキング",></b></li>
    </ul>
</nav>