<h1>ユーザー登録</h1>
<%= form_for(@user, url: signup_path) do |f| %>
  <div class="form-group">
    <%= f.label :age, 'age' %>
    <%= f.text_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender, 'gender' %>
    <%= f.text_field :gender, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'email' %>
    <%= f.password_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit '作成' %>
<% end %>
<%= link_to "back", :back %>