<h1>投稿一覧</h1>
<% @posts.each do |f| %>
  <% if f.end_on < Date.today %>
  <% else %>
    <div class="box2">
      <p><%= @corporate %></p>
      <p><%= f.title %></p>
      <p><%= f.body %></p>
      <p><%= f.start_on %><%= "~" %><%= f.end_on %></p>
      
      <p><%= render partial: 'special_posts', collection: @special_posts, as: :post %></p>
    </div>
  <% end %>
<% end %>
<br>

<%= link_to 'new', 'new' %>
<%= link_to 'show', '../users/show' %>
<!-- <%= link_to 'corporate_login', corporate_login_path %> -->
<%= link_to "back", root_path %>
<%= link_to "logout", corporate_logout_path, method: :delete %>
